$colors: (
    'common': (
        'white': #ffffff,
        'black': #000229,
        'orange':#FF7A41,
        'purple':#FF75F9,
        'green':#5FC33B,
        'green-2':#21B641,
        'yellow':#FFAB0A,
        'yellow-2':#FFCE57,
        'yellow-3':#F8FF35,
        'yellow-4':#FFC530,
        'blue':#6865FF,
        'blue-2':#1117A0,
        'blue-3':#5138EE,
        'blue-4':#600EE4,
        'red':#FF3C82,
    ),
    'heading': (
        'primary': #000229,
    ),
    'grey': (
        '1':#5F6368,
        '2':#9A9DA7,
        '3':#F5F5F5,
        '4':#F2F3F5,
        '5':#888B95,
        '6':#EEEEF5,
        '7':#F6F5FA,
        '8':#F7F9FB,
    ),
    'text': (
        'body':#5F6368,
    ),
    'theme': (
        '1': #6865FF,
        '2': #AEE87C,
        '3': #FFA8B8,
        '4': #F1A0AF,
    ),
    'border': (
        '1':#EDF5FA,
        '2':#EBECF0,
    )
);

